* {
  margin: 0;
  padding: 0;
  cursor: inherit;
  -webkit-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  -ms-touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}
input {
  cursor: text;
  -webkit-user-select: default;
  -moz-user-select: default;
  -ms-user-select: default;
  user-select: default;
}
.delaygroup {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#container {
  position: relative;
  /* margin-top: -40px; */
  height: 100%;
}
#container canvas {
  position: absolute;
  margin-top: 10%;
  width: 70%;
}
#about,
#menu {
  margin: 10px;
  position: absolute;
  display: none;
  top: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
/* #about {
  right: 0;
  background: url("../../image/ui_about.svg") center center no-repeat;
}
#menu {
  left: 0;
  background: url("../../image/ui_menu.svg") center center no-repeat;
} */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: linear-gradient(
    60deg,
    rgb(72, 49, 163) 0%,
    rgb(1, 137, 155) 100%
  );
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.nav-btn {
  background-color: #fff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.nav-btn:hover {
  background-color: #ece0fe;
}

.blinking {
  animation: blink 0.5s alternate infinite;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.multi_sequencer {
  position: relative;
  flex: 1;
  display: flex;
}

/* .metronome-vast {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  padding-top: 100px;
} */

.metronome-area {
  width: 100%;
  height: 1080px;
  /* background-color: #db9696; */
}

.puck-button {
  /* Modify button 60px */
  height: 60px;
  width: 60px;
  position: absolute;
  border-radius: 100%;
  -webkit-background-size: 90%;
  -moz-background-size: 90%;
  background-size: 90%;
  background: #a8d8fc url("../../image/ui_play.svg") center center no-repeat;
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.38, 1.8, 0.32, 1);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.38, 1.8, 0.32, 1);
  -o-transition: -o-transform 0.1s cubic-bezier(0.38, 1.8, 0.32, 1);
  -ms-transition: -ms-transform 0.1s cubic-bezier(0.38, 1.8, 0.32, 1);
  transition: transform 0.1s cubic-bezier(0.38, 1.8, 0.32, 1);
  z-index: 1;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.075);
}
.puck-button.active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transform-duration: 0s;
}
.puck-button.play-pause {
  width: 100px;
  height: 50px;
  margin-left: -50px;
  border-radius: 20px;
  top: 40px;
  left: 50%;
  background-color: #ffffff;
  background-image: url("../../image/ui_play.svg");
  border: 1px solid #ff6f6f;
  display: none;
}
.playing .puck-button.play-pause,
.suspended .puck-button.play-pause {
  background-image: url("../../image/ui_pause.svg");
}
.puck-button.next,
.puck-button.prev {
  -webkit-background-size: 120%;
  -moz-background-size: 120%;
  background-size: 120%;
  background-image: url("../../image/ui_arrow.svg");
  top: 38%;
  background-position: center 45%;
}
.puck-button.next {
  right: 10px;
}
.puck-button.hidden {
  display: none;
}
.puck-button.prev {
  left: 10px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.puck-button.prev.active {
  -webkit-transform: scale(-1.1, 1.1);
  -moz-transform: scale(-1.1, 1.1);
  -o-transform: scale(-1.1, 1.1);
  -ms-transform: scale(-1.1, 1.1);
  transform: scale(-1.1, 1.1);
}
@media only screen and (max-width: 600px) {
  .puck-button.next,
  .puck-button.prev {
    height: 39px;
    width: 39px;
    margin-top: -140px;
  }
}
.playhead {
  position: absolute;
  width: 8px;
  height: 65%;
  border-radius: 8px;
  margin-left: -4px;
  top: 17.5%;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 2;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.suspended .playhead {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  -ms-transition-duration: 0;
  transition-duration: 0;
}
.multi-sequencer:not(.playing) .playhead,
.suspended .playhead {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.multi-sequencer {
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
  position: relative;
  bottom: 0;
  z-index: 1;
}

.drop-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
.divider {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  border-bottom: 1px dashed #d394f5;
  /* margin: 20px 0; */
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: -20px;
  color: #888;
}
.blinking {
  animation: blink 0.5s alternate infinite;
  /* opacity: 0.5; */
}
.blinking .animal {
  background-color: #f6bebb;
}
.animal {
  width: 80px;
  height: 50px;
  border: 2px solid #bfaecf;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  cursor: grab;
  transition: all 0.3s ease;
  user-select: none;
  display: flex;
  align-items: center;
}
.animal img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none; /* Prevent image from interfering with drag */
}
.animal.dragging {
  opacity: 0.5;
  background-color: #d6c3e9;
}
.drop-zone {
  border: 2px dashed #bfaecf;
  background-color: #fefefe;
  width: 80px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: background 0.3s;
}
.drop-zone.hovered {
  background-color: #e8e0f1;
}
.sequencer {
  margin: 0 auto;
  height: 120px;
  width: 100%;
  max-width: 600px;
  padding: 40px 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.multi-sequencer .sequencer {
  display: none;
  position: relative;
}
.sequencer.active {
  display: block;
}
.sequencer .row {
  height: 80%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.sequencer .row .slot {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.sequencer .row .slot:nth-child(2n - 1):before {
  display: block;
  content: " ";
  background: #ddd;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
}
.sequencer .row .slot:after {
  display: block;
  content: " ";
  border-radius: 100%;
  position: absolute;
  left: 50%;
  background: #a4a4a4;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  z-index: 1;
}
.sequencer .row .slot .symbol {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  z-index: 2;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.2, 1.64, 0.2, 0.89);
  -moz-transition: -moz-transform 300ms cubic-bezier(0.2, 1.64, 0.2, 0.89);
  -o-transition: -o-transform 300ms cubic-bezier(0.2, 1.64, 0.2, 0.89);
  -ms-transition: -ms-transform 300ms cubic-bezier(0.2, 1.64, 0.2, 0.89);
  transition: transform 300ms cubic-bezier(0.2, 1.64, 0.2, 0.89);
  pointer-events: none;
}
.sequencer .row .slot .symbol.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
