#main {
  position: relative;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  margin: auto;
}
#canvas {
  width: 500px;
  height: 500px;
}
.row {
  position: absolute;
  width: 300px;
  display: flex;
  justify-content: center;
}
#init {
  position: absolute;
  margin: auto;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  top: 600px;
  border: none;
  font-size: 30px;
  background-color: #25ac20;
  color: #ffffff;
  /* transition: 0.3s background-color; */
}
#init:hover {
  cursor: pointer;
  background-color: #42b03e;
}
#tempoSelect {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 40px;
  top: 550px;
  font-size: 1.3rem;
  background-color: #222222;
  color: #44C553;
}
#range {
  position: absolute;
  top: 140px;
  width: 60px;
  height: 189px;
}
#BPMslider {
  position: relative;
  top: 30px;
  left: 20px;
  width: 10px;
  height: 10px;
}
#BPMIcon {
  width: 20px;
  height: 20px;
  background-color: #44C553;
  display: none;
  /* border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 10px solid rgb(34, 36, 101); */
}
#BPMnumber-show {
  position: absolute;
  top: 500px;
  margin: auto;
  height: 40px;
  width: 120px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
h5{
  font-family: 'Share Tech Mono', monospace;
  color: #44C553;
  font-size: 27px;
}
#tempo-show {
  position: absolute;
  display: flex;
  top: 370px;
  margin: auto;
  width: 300px;
  height: auto;
}

.display-animation{
  animation: slideInFromLeft 0.11s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}